*{
	font-size:12px;
}


body {
    font-family:helvetica,tahoma,verdana,sans-serif;
    padding:20px;
    font-size:13px;
    margin:0;
}
h2 {
    font-size:18px;
    font-weight:bold;
    margin:0;
    margin-bottom:15px;
}
.mes-info{
	clear:left; 
	background:#FFFEE6;
	color:#8F5700;
	padding:12px;
}
.mes-tip{
	width:16px;
	height:16px;
	margin-right:8px;
	float:left;
}
.mes-dec{
	width:16px;
	height:16px;
	margin-right:8px;
	float:right;
}

div#baniere label{ 
 font-family:helvetica,tahoma,verdana,sans-serif;
  margin:20px;
 
  	background:#FFFEE6;
  color:#8F5700;
  padding:12px; 
  text-align:justify; 
} 
div#baniere img{ 
  float:left; 
  background-color:#FFFEE6; 
} 
hr{ 
  clear:left; 
}
input,textarea{border:1px solid #ccc;padding:2px;}';
.radio {width:40px;padding:4px 0;padding:1px; style="opacity: 0;filter: alpha(opacity = 0);position:absolute;}
.dv-table td {border: 0;}
.dv-label {	font-weight: bold;	color: #15428B;	width: 180px;}
.dv-titre {font-weight: bold;color: #15428B;}
